<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingding.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dingding.domain.User">
    <result column="id" property="id" />
        <result column="user_id" property="userid" />
        <result column="union_id" property="unionid" />
        <result column="order" property="order" />
        <result column="mobile" property="mobile" />
        <result column="tel" property="tel" />
        <result column="work_place" property="workPlace" />
        <result column="is_admin" property="isAdmin" />
        <result column="is_boss" property="isBoss" />
        <result column="is_hide" property="isHide" />
        <result column="is_leader" property="isLeader" />
        <result column="name" property="name" />
        <result column="department" property="department" />
        <result column="position" property="position" />
        <result column="email" property="email" />
        <result column="jobnumber" property="jobnumber" />
    </resultMap>

    <insert id="insertOrUpdate" parameterType="com.dingding.domain.User">
        INSERT INTO `ding_user` (
        `user_id`,
        `union_id`,
        `order`,
        `mobile`,
        `tel`,
        `work_place`,
        `is_admin`,
        `is_boss`,
        `is_hide`,
        `is_leader`,
        `name_en`,
        `name`,
        `department`,
        `position`,
        `email`,
        `jobnumber`,
        `create_time`
        )
        VALUES
            (
            #{userid},
            #{unionid},
            #{order},
            #{mobile},
            #{tel},
            #{workPlace},
            #{isAdmin},
            #{isBoss},
            #{isHide},
            #{isLeader},
            #{nameEn},
            #{name},
            #{department},
            #{position},
            #{email},
            #{jobnumber},
            now()
            )
            ON duplicate KEY UPDATE `create_time` = now()
    </insert>

    <select id="getTaskOauth3" resultType="java.util.Map">
         SELECT
            'zhonglin' author,
            curdate( ) curdate,
            '2020-04-17' date,
            '5' hour
        FROM
            ding_user limit 1
    </select>

    <select id="getTaskOauth4" resultType="java.util.Map">

    </select>

    <select id="getTaskOauth5" resultType="java.util.Map">

    </select>

    <select id="getTaskOauth7" resultType="java.util.Map">

    </select>


</mapper>
