/Jersey/bin/
/Jersey/build/
/Jersey/.gitignore
/SpringBoot/bin/
/SpringBoot/build/
/SpringBoot/.classpath
/SpringBoot/.gitignore

Jersey/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
Jersey/.gradle
Jersey/WebContent/WEB-INF/lib/
Jersey/.settings/.jsdtscope
Socket/.settings/.jsdtscope
Socket/.gradle/
Socket/.project
Socket/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
Socket/.settings/org.eclipse.jdt.core.prefs
Socket/.classpath
Jersey/WebContent/angular/
*.class
RuoYi/ruoyi-admin/target/
RuoYi/ruoyi-system/target/classes/mapper/system/SysUserOnlineMapper.xml
RuoYi/ruoyi-system/target/
RuoYi/ruoyi-generator/target/
RuoYi/ruoyi-quartz/target/
RuoYi/.idea/inspectionProfiles/Project_Default.xml
RuoYi/.idea/workspace.xml
RuoYi/.idea/
Jersey/.idea/modules.xml
Jersey/.idea/
Jersey/Jersey.iml
Jersey/lib/
