/Jersey/bin/
/Jersey/build/
/Jersey/.gitignore
/SpringBoot/bin/
/SpringBoot/build/
/SpringBoot/.classpath
/SpringBoot/.gitignore

Jersey/.settings/gradle/org.springsource.ide.eclipse.gradle.refresh.prefs
Jersey/.gradle
Jersey/WebContent/WEB-INF/lib/
Jersey/.settings/.jsdtscope
Socket/.settings/.jsdtscope
Socket/.gradle/
Socket/.project
Socket/.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
Socket/.settings/org.eclipse.jdt.core.prefs
Socket/.classpath
Jersey/WebContent/angular/
