eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8801/eureka/
server:
  port: 8804
spring:
  application:
  name: helloworld
  aseKey: AD42F6697B035B7580E4FEF93BE20BA7
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/tencent?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
#    security:
#      user:
#        name: user
#        password: 123
#    配置mybatis
mybatis:
#  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:org/spring/springboot/dao/*.xml
  type-aliases-package: org.spring.springboot.entity
#logging:
#  level:
#    root: info
logging:
  level:
    org.spring.springboot.dao: debug

getui:
  appid: DGFWOHvp956iAB2NbVBsW9
  appkey: JP1hJerq9e9C0OOc9b96GA
  mastersecret: tLCVe0bjkM72azSv2sMjY4
security:
  basic:
    enabled: false
